.kdev4/
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
cmake_uninstall.cmake
rdc-blga.kdev4
*~
*.old
*.save
*.o
*.a
*.out
/flex/*.cpp
*swp
*json
prueba*
.project
.pydevproject
install_manifest.txt
time
msls*
.cproject
.settings
*.pyc
*offsprings
executables
*qrc_*.py
*.sqlite3
*.db
pyblga/.pyblga-venv/
